<h1>Lista de productos</h1>

<div class="login">
    <h2>Tu perfil</h2>
    <div>
        <div id="perfil"></div>
        <button class="salir">Salir</button>
        <button class="btn" id="cartVew">Ver Carrito</button>
        <a href="/purchase"><button class="btn">Finalizar Compra</button></a>
    </div>
</div>

<div class="products">
    {{#each products}}
    <div>
        <h2>{{this.title}}</h2>
        <p>Descripcion: {{this.description}}</p>
        <p>Código: {{this.code}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <button data-id={{this._id}} class="btn">Agregar al Carrito</button>
    </div>
    {{/each}}

    {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Siguiente</button></a>
    {{/if}}

</div>
<script src="/js/index.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>